body
{
    font-family : verdana, arial, helvetica, sans-serif;
    font-size: 80%;
    font-variant : normal;
}  
p
{
    text-align: justify;
}
div.scriptedDisplay
{
    margin-left: 5em;
}             
li
{   
    padding-bottom: 1em;
}
.footnote_displayed
{
    position: "absolute";
    right: "5";
    width: 70%;
    background-color: "white";
    padding: 7px;
    border: double black 4px;
}
.footnote-name
{
    border: dotted green 1px;
    padding-left: 3px;
    padding-right: 3px;
    cursor: hand;
}
.term-firstuse
{
    font-family: Times New Roman;
    font-style: italic;
    font-size: 115%;
}
.like-select
{
    border-top: 2px inset;
    border-bottom: 2px inset;
    border-left:  2px inset;
    border-right: 2px inset;
}
.section-separator
{
    color:#009;
    height:2px;
    border:1px solid #009;
    clear:both;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}
