body
{
    font-family : verdana, arial, helvetica, sans-serif;
    font-size: 80%;
    font-variant : normal;
}  
p
{
    text-align: justify;
}
div.scriptedDisplay
{
    margin-left: 5em;
}             
li
{   
    padding-bottom: 1em;
}
.term-firstuse
{
    font-family: Times New Roman;
    font-style: italic;
    font-size: 115%;
}
.like-select
{
    border-top: 2px inset;
    border-bottom: 2px inset;
    border-left:  2px inset;
    border-right: 2px inset;
}
.section-separator
{
    color: #009;
    height: .2em;
    border: .2em solid #009;
    clear: both;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
}
.display-interactive
{
    border: .3em outset;
    margin-left: 1.5em;
    margin-bottom: 1em;
    padding: 1em;
}
.dispatch-table
{
    border-width: 0 0 0 0;
    border-style: solid;
    border-spacing: 0;
    border-collapse: collapse;
    white-space: no-wrap;


}
.dispatch-cell
{
    text-align: right;
    width: 20px;
    white-space: nowrap;
    text-wrap: none;
    word-wrap: none;
}
.dispatch-container
{
    width 10%;
}
.vertex-container
{
    position: relative;
    left: 8px;
}            


.sliders-table
{
    width: 620px;
}
.dichotomy-row
{
}
.left-output, .right-output, .tim-result
{   
    text-align: right;
    padding-right: 2px;
    padding-left: 2px;
    border: outset 2px;
    background-color: rgb( 250, 230, 230 );
    width: 40px;
}
.left-dichotomy
{   
    text-align: right;
    font-weight: bold;
}
.right-dichotomy
{
    text-align: left;
    font-weight: bold;
}
.slider-selector
{
    padding-top: 4px;
    vertical-align: bottom;
    text-align: center;
    width: 180px;
}



.tims-table
{
    width: 200px;
}
.tim-caption
{
    width: 130px;
    text-align: center;
}
.submit-button
{
    border: outset 3px;
    background-color: rgb( 220, 220, 220 );
    padding: 2px;
    margin-top: 2px;
    cursor: pointer;
    font-weight: bold;
}


.psychic-functions-header-name, .psychic-functions-header-dim, .psychic-functions-header-aspect
{
    text-align: left;
    font-weight: bold;
    border-bottom: solid black 1px;
    border-left: solid black 1px;
}
.psychic-function-name, .psychic-function-dimension, .psychic-function-aspect
{
    text-align: left;
    border-bottom: dotted black 1px;
    border-left: solid black 1px;
}


.upper-right-corner
{
    border-top: solid black 1px;
    border-right: solid black 1px;
    margins: 0px, 0px, 0px, 0px;
}
.lower-right-corner
{
    border-bottom: solid black 1px;
    border-right: solid black 1px;
    margin: 0px, 0px, 0px, 0px;
    padding: 0px 0px 0px 0px;
}
.upper-left-corner
{
    border-top: solid black 1px;
    border-left: solid black 1px;    
}
.lower-left-corner
{
    border-bottom: solid black 1px;
    border-left: solid black 1px;
    margin: 0;
}
.left-border
{
    border-left: solid black 1px;
    margin: 0;
}
.right-border
{
    border-right: solid black 1px;
    margin: 0;
}

